APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

ANALYTICS_SITE_ID=ga:********
ANALYTICS_CLIENT_ID=**************************.apps.googleusercontent.com
ANALYTICS_SERVICE_EMAIL=**************************@developer.gserviceaccount.com
ANALYTICS_FILENAME=**************************
ANALYTICS_COUNTRY=Turkey
ANALYTICS_COUNTRY_CODE=TR