.env
.idea
.phpstorm.meta.php
composer.lock
Homestead.json
Homestead.yaml
log
node_modules
npm-debug.log
package-lock.json
public/dist
public/fonts
public/img
public/images
public/uploads
public/packages
public/mix-manifest.json
public/storage
public/*.jpg
public/*.gif
public/*.png
storage/*.key
vendor
yarn-error.log
_ide_helper.php
