@import "app/_variables";
@import "../../node_modules/bulma/bulma";
@import "app/_overrides";
@import "app/_icons";
@import "app/_utilities";

iframe {
  border: 0; //changed border to 0 from 0.5
}

.turbolinks-progress-bar {
  height: 2.5px; //changed height to 2.5 from 3
  background: $primary;
  background: -webkit-linear-gradient(to right, $primary, darken($primary, 5%));
  background: linear-gradient(to right, $primary, darken($primary, 5%));
}
